@import url('https://fonts.googleapis.com/css?family=Jura:400');
* { font-family: Jura, Arial; font-weight: 400; }

#htwo { margin: 0; }
#par{color:seashell ;}
#dv.menu-toggle.active{background-color: yellow;}
section#sec {
  display: grid;
  grid-template-columns: 1fr minmax(200px,400px) 1fr;
  grid-template-rows: 1fr minmax(auto,1fr) 1fr;
  grid-gap: 10px;
  width: 100%;
  height: 100vh;
  background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  height: max-content;
  animation: Gradient 15s ease infinite;
  box-sizing: border-box;}
  #for {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-gap: 10px;
    margin: auto 0;
    padding: 20px;
    background-color: #b94b50;
    border-radius: 10px;
    width: 500px;
    box-shadow: 0 32px 64px rgba(0,0,0,0.2);}
    #htwo {
      margin-bottom: 5px;
      text-align: center;
      text-shadow: 0 4px 16px #fff;
      font-size: 30px;
      font-family: cursive;
      font-weight: 100;}
    
    #fiel {
      margin: 20px;
      background-color: #b94b50;
    
      border-radius: 30px;
      border: 2px solid #b94b50; 
      box-shadow: 0 10px 3px rgba(0,0,0,0.2);
      width: 400px;  
      height: 220px;
    }
      #leg {
        padding: 5px;
        background-color:#b94b50;
        border-radius: 5px;
       font-family: cursive;
        border: 10px solid #b94b50; 
        box-shadow: 0 10px 3px rgba(0,0,0,0.2);
      }
      #u1 {
        margin: 0;
        padding: 0;}
        #l1 {
          display: grid;
          align-items: center;
          margin: 10px;}
          #ha {
            color: floralwhite;
            padding-left: 50px;
            padding-top: 20px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
          }
          #ema {
            grid-column: span 2;
            text-align: center;
            padding: 5px;
            font-family: ui-rounded;
            color: darkblue;
          }
          #lab {
            text-align: left;
            padding-bottom: 2px;
          }
          
          
           #email1 {
                padding: 3px;
                border: 1px solid #ddd;
                border-radius: 30px;
                border: 1px solid #aaf;
                margin-left: 31px;
                margin-top: 25px;
                width: 255px;
                }
               #username1 {
                    padding: 3px;
                    border: 1px solid #ddd;
                    border-radius: 30px;
                    border: 1px solid #aaf;
                    margin-left: 7px;
                    width: 255px;
                    }
                    #password1 {
                        padding: 3px;
                        border: 1px solid #ddd;
                        border-radius: 30px;
                        border: 1px solid #aaf;
                        margin-left: 10px;
                        margin-top: 25px;
                        width: 255px;
                        margin-bottom: 24px;
                        }
    
    #butt {
        border-radius: 20px;
        width: 200px;
        height: 40px;
        font-family:cursive;
        margin-top: -5px;
        margin-left:10px;
        background-color: rgb(206, 164, 188);
        font-weight: 540;
        margin-left: 131px;
        font-size: large;
       
      }
    
  

@media only screen and (min-width: 420px) {
  #for #htwo{
     
      font-size: 40px;
    }
    #fiel {
      
          grid-template-columns: 100px 1fr;}
          #lab {
              font-family: 'ps-icon';
            padding-right: 15px;
            padding-bottom: 0;
            padding-left: 10px;
            text-align: right !important;
          }
        }
      
    
  


@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}